<!-- Add html to display results from graphql API with the "| async" pipe -->
<!-- Use angular material -->
<!-- Create some components instead of using only this file. Use angular CLI -->
<!-- Show your creativity with something fun :) -->
<!-- Do not create tests -->
<div class="container"
  infiniteScroll
     [infiniteScrollDistance]="2"
     [infiniteScrollThrottle]="50"
     (scrolled)="onScroll()"
>
<div>

<mat-card>
  <mat-card-header>
    <mat-card-title>New tweets from your favorite topics</mat-card-title>
  </mat-card-header>
</mat-card>
</div>

<div *ngIf="loading | async">
  Loading...
</div>
<div *ngIf="errors | async">
  Error :(
</div>


<div class="mat-form-field-flex">
<mat-form-field>
  <mat-chip-list #chipList>
    <mat-chip *ngFor="let kword of kwords"
              [selectable]="selectable"
              [removable]="removable"
              (removed)="remove(kword)" >
                {{kword.name}}
    </mat-chip>
    <input placeholder="Keywords you want in your tweet"
           [matChipInputFor]="chipList"
           [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
           [matChipInputAddOnBlur]="addOnBlur"
           (matChipInputTokenEnd)="add($event)">
  </mat-chip-list>
</mat-form-field>
</div>

<div *ngIf="hakusanat === ''; else listTweets">
  <app-toinen-ominaisuus [latausInfo]= 'this.latausInfo'></app-toinen-ominaisuus>
</div>
<ng-template #listTweets >
  <div *ngIf="tweetData.search.toString() !== ''; else showError">


          <mat-grid-list class="mat-grid" cols="2" rowHeight="2:1" rowheight="5">
            <mat-grid-tile class="mat-grid" *ngFor="let tweet of tweetData.search">

                <mat-grid-tile-header> {{tweet.user.screen_name}} </mat-grid-tile-header>
                <p class="tweetCard">  {{tweet.text}}</p>

            </mat-grid-tile>
          </mat-grid-list>


  </div>
</ng-template>
  <ng-template #showError>
      <p class="content">Seems that nobody hasn't tweet that lately :(</p>
  </ng-template>
</div>
